body{
  background-image: url("../img/bg_chat_s.svg");
  background-repeat:no-repeat;
  font-family:  'Noto Sans', sans-serif;
  color:#F9F9FF;
  background-color: #DEDEE2;

}

/*TOP ICONS*/
.wrapper{
  width:64em;
}

.topIcons{
  margin-left: 0;
  clear:both;
}

.back_btn{
  margin-top:6%;
  margin-left: 7%;
  height:1.8em;
  width:1em;
  float:left;
  padding-left: 0;

}

.buscaCompi{
  justify-content: center;
  right:40%;
  margin-top:1%;
  margin-right:46%;
  float:right;
}

.buscaCompi h4{
  font-weight: 500;
  font-size: 1.2em;
}

.main{
  position: fixed;
  width:90%;
  height:80%;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 24%;
}

.main img{
  width:90%;
  height:6.250em;
  margin-top: 1em;
}

.conver{
  height:120px;
}

.footer{
  width:6.5em;
  justify-content: center;
  padding-top:3em;
  position: relative;
  margin-left: 42%;
  margin-right: 52%;
  position: absolute;
 bottom: 10px;
  }

.footer img{
  width:2em;
  padding-bottom: 2em;
}

@media  (min-width:640px) {
  body{
    background-image: url("../img/bg_chat_large.svg");
    background-repeat:no-repeat;
    font-family:'Noto Sans', sans-serif;
    color:#F9F9FF;
    background-color: #DEDEE2;

  }

  .wrapper{
    width:40.063em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .topIcons{
    margin-right: auto;
    clear:both;
  }
  .back_btn{
   padding-left: 4%;
  }

  .main{
    width:90%;
    height:80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 24%;
    position: absolute;
  }



}

@media  (min-width:1130px) {
  body{
    background-repeat: no-repeat;

  }

  .wrapper{
    width:64em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .topIcons{
    margin-right: 35%;
    clear:both;
  }
  .buscaCompi{
    margin-top:3%;
  }

  .main{
    display: block;
    margin-top: 12%;
    margin-left:10% ;
    margin-right: 10%;
    position: fixed;
  }
  .topIcons{
    margin-left: 0;
    clear:both;
  }

  .back_btn{
    margin-top:6%;
    margin-left:32%;
    height:1.8em;
    width:1em;
    float:left;

  }

  .buscaCompi{
    justify-content: center;
    left:30%;
    right:40%;
    margin-top:1%;
    margin-right:30%;
  }

}
